
footer.site-footer.container-fluid
    div.row.justify-content-center
        .col-10
            .row
                section.col-lg-4
                    h5!= config.title + " © " + date(Date.now(), 'YYYY')
                    p
                        em!="\"" + config.subtitle + "\""
                    p.
                        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>

                section.col-lg-4
                    h5.marked!="Recent articles"
                    .recent-posts
                        != list_posts({amount: 3})

                section.col-lg-4
                    h5.marked!="Stay connected"
                    .social-links
                        ul.list-inline
                            each value, key in theme["footer"]
                                li.list-inline-item
                                    a(href=value.link, title=value.title, onclick="window.open(this.href);return false;")
                                        span(class=value.icon)

                    h5.marked!="Meta"
                    ul.list-inline
                        li.list-inline-item
                            a(href="/statistics") Statistics
                        li.list-inline-item
                            a(href="https://stats.uptimerobot.com/Q7LzzFqKE") Uptime

                    //- h5.marked!="Most popular tags"
                    //- div.tagcloud
                    //-     != tagcloud(site.tags.sort('length', 'desc').limit(25), { unit: 'pt', min_font: 8, max_font: 32, start_color: '#6a6a6a', end_color: '#bababa', color: true })

    //- section.poweredby.text-center.text-muted
    //-     ul.list-inline
    //-         li.list-inline-item
    //-             span="Published with "
    //-             a(href="https://hexo.io", onclick="window.open(this.href);return false;")
    //-                 img(src="/img/logo-hexo.png")
    //-         li.list-inline-item
    //-             span="Hosted on "
    //-             a(href="https://github.com/wololock/wololock.github.io", onclick="window.open(this.href);return false;")
    //-                 img(src="/img/logo-github.png")
    //-         li.list-inline-item
    //-             span="Deployed with "
    //-             a(href="https://travis-ci.org/wololock/wololock.github.io", onclick="window.open(this.href);return false;")
    //-                 img(src="/img/logo-travis.png")
